area-detector-handlers
ax-platform
bluesky
botorch
coverage
databroker
furo
gpytorch
h5py
import-linter
ipython
jupyter
jupyterlab_myst
matplotlib
mypy
nbsphinx
nbstripout
numpy
numpydoc
ophyd
pandas-stubs
pandoc
pre-commit
pre-commit-hooks
pytest
pytest-codecov
python-tsp
ruff
scipy
sphinx
sphinx-copybutton
sphinx_rtd_theme
tables
tiled[server, minimal-client]
torch
twine
types-PyYAML